# Copy to .env and fill in values for your Sentry instance.
# Do not quote values; command-line make assignments override this file.
SENTRY_URL=http://dev.getsentry.net:8000/
SENTRY_ORG=sentry
SENTRY_AUTH_TOKEN=<auth-token>

# Set target-specific values in .env.target
SENTRY_PROJECT=<project-slug>
SENTRY_DSN=http://<key>@dev.getsentry.net:8000/<project-id>
